.custom-array-items {
  .custom-array-items-header {
    .arco-formily-item {
      margin-bottom: 0;
      padding: 0;
    }
    .arco-formily-item .arco-formily-item-label {
      width: auto;
    }
  }

  .arco-formily-grid-layout {
    flex-grow: 1;
    .arco-formily-item {
      margin-bottom: 12px;

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 0;
      }
    }

    .arco-picker {
      width: 100%;
    }
  }
  .arco-formily-item-control-content-component {
    background-color: #fff;
  }
}
